.layout{
  background-color: var(--surface-b);
  min-height: 100vh;
}
.title{
  font-size: 1.5rem;
  margin-bottom: 18px;
}
.reddit-logo{
  height: 65px;
}

.layout-search{
  padding-left: 1rem;
  padding-right: 1rem;
}

:host ::ng-deep p-progressbar .p-progressbar{
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100vw;
  display: none;
}

:host ::ng-deep p-toolbar .p-toolbar {
  border-bottom: 1px solid var(--surface-d);
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0px;
}

:host ::ng-deep p-sidebar .p-sidebar{
  padding: 0;
}

:host ::ng-deep p-menu .p-menu{
  width: 100%;
  border: 0;
}

:host ::ng-deep p-sidebar .p-sidebar-close{
  margin: 0.75rem 1rem;
}



