pre {
  white-space: pre-wrap;
  word-break: break-word;
}

.code-block {
  padding-top: 50px;
}

.p-scrollpanel {
  margin-bottom: 50px;
}

:host ::ng-deep p-scrollpanel .p-scrollpanel.custombar1 .p-scrollpanel-bar {
  background-color: var(--primary-color);
  opacity: 1;
  transition: background-color .2s;
}
:host ::ng-deep p-scrollpanel .p-scrollpanel.custombar1 .p-scrollpanel-bar:hover{
  background-color: #007ad9;
}

.form-item {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
}

:host ::ng-deep .multiselect-custom .p-multiselect-label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
:host ::ng-deep .multiselect-custom .country-item-value {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display: inline-flex;
  margin-right: 0.5rem;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}
:host ::ng-deep .multiselect-custom .country-item-value img.flag {
  width: 17px;
}
:host ::ng-deep .multiselect-custom .country-placeholder {
  padding: 0.25rem;
}
.start-padding-top{
  padding-top: 20px;
  padding-bottom: 20px;
}
